<div removeModal class="apartment-modal" (click)="closeDetails()"></div>
<div class="account-page">
  <h1>User Information</h1>
  <div class="account-info">
    <p>
    Name: {{ user.fname.charAt(0).toUpperCase() + user.fname.slice(1) }}
    {{ user.lname.charAt(0).toUpperCase() + user.lname.slice(1) }}
  </p>
  <p>Email: {{ user.email }}</p>
  </div>
  <div class="account-info">
  <h2>Favorite Apartments:</h2>
  <ul *ngFor="let favorite of user.favorites">
    <li>
      <p>
        {{ favorite.name }}
      </p>
      <!-- <div> -->
        <a addModal [routerLink]="['apartment-details', favorite._id]">View Details</a>
      <!-- </div> -->
      <button (click)="deleteFavorite(favorite)">X</button>
      <router-outlet></router-outlet>
    </li>
  </ul>
  <div *ngIf="error">{{ error }}</div>
  <a class="logoutBtn" (click)="logoutUser()">Logout</a>
</div>
</div>
