<div class="account-info">
  <p>
    Name: {{ user.fname.charAt(0).toUpperCase() + user.fname.slice(1) }}
    {{ user.lname.charAt(0).toUpperCase() + user.lname.slice(1) }}
  </p>
  <p>Email: {{ user.email }}</p>
  <h1>Favorited Apartments:</h1>
  <ul *ngFor="let favorite of user.favorites">
    <li>
      {{ favorite.name }}
      <div>
        <a [routerLink]="['apartment-details', favorite._id]">View Details</a>
      </div>
      <button (click)="deleteFavorite(favorite)">X</button>
      <router-outlet></router-outlet>
    </li>
  </ul>
</div>
<a class="logoutBtn" (click)="logoutUser()">Logout</a>
