.apartment-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 480px;
    margin: 1rem auto;
}

@media only screen and (min-width: 37.5em) {
    .apartment-container {
        grid-template-columns: 1fr 1fr;
        max-width: 760px;
        margin: 1rem auto;
    }
}

@media only screen and (min-width: 60em) {
    .apartment-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 960px;
        margin: 1rem auto;
    }
}