<div removeModal class="apartment-modal" (click)="closeDetails()"></div>
<div *ngIf="apartments.length >= 60" class="hero-image">
  <h1>Need an apartment for the upcoming semester?</h1>
  <div class="hero-text">
    <p>Search for an apartment that fits your needs here.</p>
    <a routerLink="/apartment-search">Search Apartments</a>
  </div>
</div>
<span *ngIf="apartments.length >= 60">Scroll to see all single housing options in Rexburg &#8628;</span>
<div class="buttons">
  <label class="top"
    >Filter Apartments
    <select name="region" id="select_filter" (change)="selectFilter($event)">
      <option value="" disabled selected>Sort By:</option>
      <option value="aptName">Apartment Name</option>
      <option value="aptPrice">Apartment Price</option>
      <option value="aptDriveDistance">Driving Distance from College</option>
      <option value="aptWalkDistance">Walking Distance from College</option>
    </select>
  </label>
</div>
<div class="apartment-container">
  <p *ngIf="apartments.length < 60">Your search returned {{ apartments.length }} results.</p>
  <p *ngIf="apartments.length === 0"><a routerLink="/apartment-search">Refine your search</a></p>
  <div *ngIf="error">{{ error }}</div>
  <div class="apartment-data">
    <app-apartment-item
      *ngFor="let apartment of apartments"
      [apartment]="apartment"
    ></app-apartment-item>
    <div class="apartment-details">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
