<div class="container">
  <h1>What are you looking for in an apartment?</h1>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
      <fieldset class="aptSearchDetails">
        <legend>Apartment Details</legend>
        <div>
          <label>What is your price range?</label>
          <mat-slider
            formControlName="price"
            tickInterval="0"
            min="500"
            max="2000"
            step="100"
          ></mat-slider>
          <span *ngIf="searchForm.get('price').valid"
            >${{ searchForm.value.price }} or less per semester</span
          >
          <span
            *ngIf="
              !searchForm.get('price').valid && searchForm.get('price').touched
            "
            class="help-block"
          >
            <span *ngIf="searchForm.get('price').errors['required']"
              >This field is required!</span
            >
          </span>
        </div>
        <div>
          <label>How minutes away from campus to drive?</label>
          <div>
            <mat-slider
              formControlName="driveTimeToCollege"
              tickInterval="0"
              min="1"
              max="30"
              step="1"
            ></mat-slider>
            <span *ngIf="searchForm.get('driveTimeToCollege').valid"
              >{{ searchForm.value.driveTimeToCollege }}
              <p *ngIf="searchForm.get('driveTimeToCollege').value === 1">
                minute or less
              </p>
              <p *ngIf="searchForm.get('driveTimeToCollege').value > 1">
                minutes or less
              </p></span
            >
          </div>
        </div>
        <div>
          <label>How minutes away from campus to walk?</label>
          <div>
            <mat-slider
              formControlName="walkTimeToCollege"
              tickInterval="0"
              min="1"
              max="30"
              step="1"
            ></mat-slider>
            <span *ngIf="searchForm.get('walkTimeToCollege').valid"
              >{{ searchForm.value.walkTimeToCollege }}
              <p *ngIf="searchForm.get('walkTimeToCollege').value === 1">
                minute or less
              </p>
              <p *ngIf="searchForm.get('walkTimeToCollege').value > 1">
                minutes or less
              </p></span
            >
          </div>
        </div>
        <div>
          <label>Level of apartment ratings?</label>
          <div>
            <mat-slider
              formControlName="rating"
              tickInterval="0"
              min="1"
              max="5"
              step="1"
            ></mat-slider>
            <span *ngIf="searchForm.get('rating').valid"
              >{{ searchForm.value.rating }}
              <p *ngIf="searchForm.get('rating').value === 1">star or more</p>
              <p *ngIf="searchForm.get('rating').value > 1">or more stars</p></span
            >
          </div>
        </div>

        <div>
          <label>Which type of apartment are you looking for?</label>
          <div class="aptGenderOptions">
            <div
              *ngFor="let aptGenderOption of aptGenderOptions; let i = index"
            >
              <input
                type="checkbox"
                [value]="aptGenderOption"
                (change)="onCheckboxAptGenderChange($event)"
              />
              {{ aptGenderOption }}
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Apartment Amenities</legend>
        <label class="amenitiesLabel"
          >What amenities are you looking for?</label
        >
        <div class="checkboxes">
          <div *ngFor="let amenity of amenities; let i = index">
            <label>
              <input
                type="checkbox"
                [value]="amenity.value"
                (change)="onCheckboxAmenitiesChange($event)"
              />
              {{ amenity.name }}
            </label>
          </div>
        </div>
        <p
          class="error"
          *ngIf="this.searchForm.controls['amenities'].errors?.['required']"
        >
          Checkbox is required, select at least one value.
        </p>
        <input type="submit" value="Search Apartments" />
        <!-- <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button> -->
      </fieldset>
    </form>
</div>
