<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
        <label>Price:</label>
        <div>
          <p>
            <mat-slider
              formControlName="price"
              tickInterval="1"
              min="500"
              max="2000"
              step="100"
            ></mat-slider>
          </p>
          <span *ngIf="searchForm.get('price').valid"
            >${{ searchForm.value.price }} or less per semester</span
          >
        </div>
        <label>Driving Distance to College:</label>
        <div>
          <p>
            <mat-slider
              formControlName="driveTimeToCollege"
              tickInterval="0"
              min="1"
              max="30"
              step="1"
            ></mat-slider>
          </p>
          <span *ngIf="searchForm.get('driveTimeToCollege').valid"
            >{{ searchForm.value.driveTimeToCollege }}
            <span *ngIf="searchForm.get('driveTimeToCollege').value === 1"
              >minute</span
            ><span *ngIf="searchForm.get('driveTimeToCollege').value > 1"
              >minutes</span
            ></span
          >
        </div>
        <label>Walking Distance to College:</label>
        <div>
          <p>
            <mat-slider
              formControlName="walkTimeToCollege"
              tickInterval="0"
              min="1"
              max="30"
              step="1"
            ></mat-slider>
          </p>
          <span *ngIf="searchForm.get('walkTimeToCollege').valid"
            >{{ searchForm.value.walkTimeToCollege }}
            <span *ngIf="searchForm.get('walkTimeToCollege').value === 1"
              >minute</span
            ><span *ngIf="searchForm.get('walkTimeToCollege').value > 1"
              >minutes</span
            ></span
          >
        </div>

        <label>Number of Review Stars:</label>
        <div>
          <p>
            <mat-slider
              formControlName="reviewStars"
              tickInterval="1"
              min="1"
              max="5"
              step="1"
            ></mat-slider>
          </p>
          <span *ngIf="searchForm.get('reviewStars').valid"
            >{{ searchForm.value.reviewStars }} 
            <span *ngIf="searchForm.get('reviewStars').value === 1"
              >star</span
            ><span *ngIf="searchForm.get('reviewStars').value > 1"
              >stars</span
            ></span
          >
        </div>

        <span
          *ngIf="
            !searchForm.get('price').valid && searchForm.get('price').touched
          "
          class="help-block"
        >
          <span *ngIf="searchForm.get('price').errors['required']"
            >This field is required!</span
          >
        </span>


        <div>
          <div *ngFor="let aptGenderOption of aptGenderOptions; let i = index">
            <label>
              <input
                type="checkbox"
                [value]="aptGenderOption"
                (change)="onCheckboxAptGenderChange($event)"
              />
              {{ aptGenderOption }}
            </label>
          </div>
        </div>


        <div class="checkboxes">
          <div *ngFor="let amenity of amenities; let i = index">
            <label>
              <input
                type="checkbox"
                [value]="amenity.value"
                (change)="onCheckboxAmenitiesChange($event)"
              />
              {{ amenity.name }}
            </label>
          </div>
        </div>
        <p
          class="error"
          *ngIf="this.searchForm.controls['amenities'].errors?.['required']"
        >
          Checkbox is required, select at least one value.
        </p>
        <button type="submit" value="Submit">Submit</button>
        <!-- <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button> -->
      </form>
    </div>
  </div>
</div>
