.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-image: url("/assets/acct-background-image.jpg");
}

form {
  font-family: 'Raleway', sans-serif;
  margin: 3rem auto 1rem;
  width: 75%;
  padding: 2rem 2.5rem;
  background-color: #3d7c5e;
  color: white;
  border-radius: 0.7rem;
}

input {
  margin-bottom: 0.7rem;
  border: 2px solid #225b40;
}

button[type="submit"] {
  display: block;
  padding: 0.7rem;
  width: 34%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #18402e;
  color: #225b40;
  border-radius: 2rem;
  margin: 1.1rem 0 0;
}

button[type="submit"]:valid:hover {
  background-color: #18402e;
  color: white;
  border: 2px solid white;
  transition: 0.3s ease;
}

a:hover {
  background-color: #225b40;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  transition: 0.3s ease;
}

h1 {
  font-family: 'Gloock', serif;
  margin: 0 auto;
  color: white;
  padding: 4rem 0 0;
  font-size: 1.9rem;
  line-height: 2.3rem;
  text-align: center;
}

p.signupText {
  display: block;
  width: 40%;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

a {
  display: block;
  padding: 0.7rem;
  width: 20%;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: 2px solid #18402e;
  color: #225b40;
  border-radius: 2rem;
  margin: 1rem auto;
  transition: 0.3s ease;
}

@media only screen and (min-width: 37.5rem) {
  form {
    width: 50%;
  }
}

@media only screen and (min-width: 60rem) {
  form {
    width: 40%;
  }
}
