<div class="container">
  <h1>Sign in to save your favorite apartments</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <label>Email:</label>
    <div>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
      />
      <span
        *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched && !loginForm.get('email').errors?.email"
        >Email is required!</span
      >
    </div>

    <label>Password:</label>
    <div>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <span
        *ngIf="
          !loginForm.get('password').valid && loginForm.get('password').touched
        "
        >Password is required!</span
      >
    </div>
    <button type="submit" value="Submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <p class="signupText">Don't have an account yet? Sign up to save your favorite apartments to your account!</p>
  <a routerLink="/signup">Account Signup</a>
</div>