<div id="carouselExampleCaptions" class="apt-img-holder carousel slide" data-bs-ride="carousel">
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let image of apartment.images; let i = index; let isFirst = first" [ngClass]="{ active: isFirst }">
      <img [src]="image" alt="nothing" />
    </div>
  </div>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
  <div *ngIf="error">{{ error }}</div>
</div>